.OnlineList__container {
    width: 100%;
    height: auto;
    padding: 15px;
    background-color: #2d2d2d;
    box-shadow: 1px 1px 8px black;
    text-align: center;
    box-sizing: border-box;
}

.OnlineList__title {
    text-align: center;
    color: #68a437;
    font-size: 17px;
    font-weight: 700;
}

