.Chat__wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 10px;
    position: sticky;
    top: 0;
}

.Chat__channel-info {
    margin-bottom: 10px;
    font-size: 16px;
}

.Chat__container {
    flex-grow: 1;
    background-color: #ebebeb;
    box-shadow: 1px 1px 8px black;
    overflow-y: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

