.Header__navbar {
    height: 70px;
    padding: 5px 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #101010;
}

.Header__logo {
    width: 110px;
}

.Header__navbar-right-side {
    display: flex;
    align-items: center;
}

.Header__greeting {
    color: #68a437;
    margin-right: 10px;
}

.Header__button {
    padding: 10px 15px;
    margin: 13px 10px;
    border: none;
    font-size:16px;
    background-color: #484848;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
    color: #fff;
}
